<a href="https://colab.research.google.com/github/mellmelt/2021_ss_winter/blob/main/03_%EC%9E%90%EB%A3%8C%ED%98%95(%ED%95%99%EC%83%9D).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료형
자료형(資料形) 또는 데이터 타입(영어: data type)은 컴퓨터 과학과 프로그래밍 언어에서 실수치, 정수, 불린 자료형 따위의 여러 종류의 데이터를 식별하는 분류로서, 더 나아가 해당 자료형에 대한 가능한 값, 해당 자료형에서 수행을 마칠 수 있는 명령들, 데이터의 의미, 해당 자료형의 값을 저장하는 방식을 결정한다. [위키백과]

- 정수 (integer)
- 부동소수점 (floating-point number)- 실수
- 문자 한 개 (character)
- 숫자, 문자로 이루어진 문자열 (string)
- 불린 (boolean)

## 숫자를 표현하는 자료형

### 정수(int)
- 123, 100000000000
- type() : 자료형을 확인

In [3]:
123
print(type(123))
print(id(123)) # 123이 어디에 저장되어 있는가? 주소 확인

<class 'int'>
94187063765312

In [5]:
i = 123
print(type(i))
print(id(i))
print(i, i + 100)
print(i * 2.0)

<class 'int'>
94187063765312
123 223
246.0

### 실수(float)
- 0.12  ,   123.45   100.000
- 실수를 지원하기 위해 소수점이 들어간 숫자 데이터

![image01.png]()

In [6]:
f = 123.0
type(f)
print(f, f * 2)

123.0 246.0

### 부울(bool) 
**True 또는 False** 중 하나의 값을 가질 수 있는 자료형
- if 조건문에서는 어떤 문장이 True인지, False인지를 판단하는 것이 중요함.

In [9]:
b = True
print(b, int(b)) # True는 1

b1 = False
print(b1, int(b1)) # False는 0

True 1
False 0

# 자료형 변환


```
프로그래밍중 필요한 자료형으로 변경이 필요하다.
문자 10을 연산을 위해서 정수 10으로 변경해주어야 연산이 가능한 자료가 된다.
```

In [12]:
#'25' + 50 # TypeError

print(int('25') + 50) # 숫자로 계산

print('25' + str(50)) # 문자를 나열

75
2550

In [14]:
a = '1000'
# b = a + 2000
b = int(a) + 2000
print(a, b)

1000 3000

In [15]:
num = float(input('숫자를 입력 : '))

print(num, num * 2)

숫자를 입력 : 100
100.0 200.0

##  형변환 함수


#### 정수로 변환하기 – int() 함수 
- int() 함수의 인수에는 int,  bool 만 넣을 수 있음.

In [17]:
print(int('201234'))
# int('2012.34') # float 자료형이라 Error 발생
# int('python') # 문자형이라 Error 발생
print(int(True))

201234
1

    
#### 실수로 변환하기 – float() 함수
-  float() 함수의 인수에는 int, float, bool
만 넣을 수 있음.

In [19]:
print(float(12345))
print(float('123'))
print(float(True))

12345.0
123.0
1.0


#### 문자로 변환하기 str() 함수

   - str() 함수는 () 안의 값을 무조건 문자로 변환해준다.

In [20]:
print(str(123.456))
print(str(1000))
print(str(True))

123.456
1000
True

**문제1  -   문자열을 정수로 변환**
<br> 문자열 '720'를 정수형으로 변환
<br> s = '720'

In [21]:
s = '720'
s = int(s)
type(s)

int

**문제2  -   정수을 문자열로 변환**
<br> 123 를 문자열로 변환
<br> i = 123

In [22]:
i = 123
i = str(i)
type(i)

str

**문제3  -   실수을 문자열로 변환**
<br> 3.14 를 문자열로 변환
<br> f = 3.14

In [23]:
f = 3.14
f = str(f)
type(f)

str