<a href="https://colab.research.google.com/github/mellmelt/2021_ss_winter/blob/main/18_2%EC%B0%A8%EC%9B%90%EB%A6%AC%EC%8A%A4%ED%8A%B8(2)%ED%95%99%EC%83%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  2차원리스트
- 행 단위의 자료를 처리하는 리스트를 다루어 봤다. 평면 (행과 열) 구조의 리스트를 2차원 리스트라고 할수 있다.

![image.png]()

![캡처.GIF]()

# 데이터분석 해보기

- 2차원 리스트를 만들기
- 반복문으로 주어진 문제 출력

<img src= 'https://github.com/teacher-jiejie/allinone_AI/blob/images/17_%EC%98%AC%EB%A6%BC%ED%94%BD.png?raw=true' width=500>

In [1]:
#자료를 2차원리스트로 만들어보기
data = [
        [1, '미국', 46, 37, 38, 121],
        [2, '영국', 27, 23, 17, 67],
        [3, '중국', 26, 18, 26,70],
        [4, '러시아', 19, 18, 19, 56],
        [5, '독일', 17, 10, 15, 42],
        [6, '일본', 12, 8, 21, 41],
        [7, '프랑스', 10, 18, 14, 42],
        [8, '대한민국', 9, 3, 9, 21]
        ]

data의 자료를 모두 출력

In [ ]:
# 출력형식 [1,'미국',46,37,38,121]
for 행리스트 in data:
  print(행리스트)

[1, '미국', 46, 37, 38, 121]
[2, '영국', 27, 23, 17, 67]
[3, '중국', 26, 18, 26, 70]
[4, '러시아', 19, 18, 19, 56]
[5, '독일', 17, 10, 15, 42]
[6, '일본', 12, 8, 21, 41]
[7, '프랑스', 10, 18, 14, 42]
[8, '대한민국', 9, 3, 9, 21]

2.  순위권에 든 모든 국가이름을 출력

In [ ]:
# 출력형식 미국, 영국, 중국.... 대한민국
for 행리스트 in data:
  print(행리스트[1], end = ' ')

미국 영국 중국 러시아 독일 일본 프랑스 대한민국

In [2]:
#3.  금메달보다 은메달 개수가 많은 나라를 출력하시오
for 행리스트 in data:
  if 행리스트[2] < 행리스트[3]:
    print(행리스트[1])

프랑스

In [3]:
#4.  금메달보다 은메달 개수가 많은 나라를 출력하시오
#출력형식
    # 대한민국 금메달-9  은메달-3  동메달-9
for 행리스트 in data:
  if 행리스트[2] < 행리스트[3]:
    print(행리스트[1], '금메달-' + str(행리스트[2]), '은메달-' + str(행리스트[3]), '동메달-' + str(행리스트[4]))

프랑스 금메달-10 은메달-18 동메달-14

In [4]:
#5.  금메달보다 동메달 개수가 많은 나라를 출력하시오
#출력형식
    # 대한민국 금메달-9  은메달-3  동메달-9
for 행리스트 in data:
  if 행리스트[2] < 행리스트[4]:
    print(행리스트[1], '금메달-' + str(행리스트[2]), '은메달-' + str(행리스트[3]), '동메달-' + str(행리스트[4]))

일본 금메달-12 은메달-8 동메달-21
프랑스 금메달-10 은메달-18 동메달-14

In [5]:
#5. 모든 나라의 금메달 합을 구하시오
hap = 0
for 행리스트 in data:
  hap = hap + 행리스트[2]
print(hap)

166

In [6]:
# 나라중 대한민국의 금,은,동메달의 갯수를 구하시오
#출력형식
    # 대한민국 금메달-9  은메달-3  동메달-9
for 행리스트 in data:
  if 행리스트[1] == '대한민국':
    print(행리스트[1], '금메달-' + str(행리스트[2]), '은메달-' + str(행리스트[3]), '동메달-' + str(행리스트[4]))

대한민국 금메달-9 은메달-3 동메달-9

In [ ]:
#키보드로 입력 받은 나라의 금,은,동메달의 갯수를 구하시오
#(만약 등록된 나라가 없으면 기록이 없음 을 출력합니다.)
나라 = input('나라 이름을 입력:')
찾았다 = False
for 행리스트 in data:
  if 행리스트[1] == 나라:
    print(행리스트[1], '금메달-' + str(행리스트[2]), '은메달-' + str(행리스트[3]), '동메달-' + str(행리스트[4]))
    찾았다 = True
if 찾았다 == False:
  print(나라, '기록이 없음')

나라 이름을 입력:베트남
베트남 기록이 없음

In [7]:
#함수정의
    # 메달출력
#함수호출결과
# 대한민국 금메달-9  은메달-3  동메달-9

def 메달출력(n, g, s, b):
  print(n, '금메달-', g, '은메달-', s, '동메달-', b)

for 행리스트 in data:
  메달출력(행리스트[1], 행리스트[2], 행리스트[3], 행리스트[4])

미국 금메달- 46 은메달- 37 동메달- 38
영국 금메달- 27 은메달- 23 동메달- 17
중국 금메달- 26 은메달- 18 동메달- 26
러시아 금메달- 19 은메달- 18 동메달- 19
독일 금메달- 17 은메달- 10 동메달- 15
일본 금메달- 12 은메달- 8 동메달- 21
프랑스 금메달- 10 은메달- 18 동메달- 14
대한민국 금메달- 9 은메달- 3 동메달- 9

In [8]:
#함수정의()
    # 메달상금(
    #    금메달 = 100000, 은메달 = 70000, 동메달 = 50000)
    
#함수호출결과
# 만약 금(5)음(5)동(5)개인경우 1100000을 반환한다.

def 메달상금(g, s, b):
  result = (g * 100000) + (s * 70000) + (b * 50000)
  return result

메달상금(5, 5, 5)

1100000

In [ ]:
#각 나라에서 지급할 메달 상금을 출력하시오
for 행리스트 in data:
  상금 = 메달상금(행리스트[2], 행리스트[3], 행리스트[4])
  print(행리스트[1], '상금 :', 상금)

미국 상금 : 9090000
영국 상금 : 5160000
중국 상금 : 5160000
러시아 상금 : 4110000
독일 상금 : 3150000
일본 상금 : 2810000
프랑스 상금 : 2960000
대한민국 상금 : 1560000

In [ ]:
#나라를 입력 받고 입력받은 나라의 메달 상금을 출력하시오.
# 만약 없는 업는 나라이면 '기록이 없음' 
def 메달상금(g, s, b):
  result = (g * 100000) + (s * 70000) + (b * 50000)
  return result

나라 = input('나라 이름을 입력:')
찾았다 = False

for 행리스트 in data:
  상금 = 메달상금(행리스트[2], 행리스트[3], 행리스트[4])
  if 행리스트[1] == 나라:
    print(행리스트[1], '상금 :', 상금)
    찾았다 = True
if 찾았다 == False:
  print(나라, '기록이 없음')

나라 이름을 입력:베트남
베트남 기록이 없음